# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Evidence, Reports and Logs (Crucial for Security)
evidence/
screenshots/
*.log
*.json
*.csv
*.pdf
# Ignore any custom wordlists you create for testing
*.txt

# Environments (Do not upload your local Python libraries)
.venv/
env/
venv/
ENV/

# IDEs and System Junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# Distribution / Build
dist/
build/
*.egg-info/